#category{
    .category-container{
        list-style: none;
        padding-left: 0%;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
       
        
    }
 
    .category-list:hover {
        background-color: #434343; /* Change to your desired hover background color */
        color: aliceblue;
        border-radius: 2px;
      }
}